@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Work Sans';
}

/* header style */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 220px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

nav ul {
    display: flex;
    gap: 50px;
}

nav li {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */
.banner {
    text-align: center;
}

.banner h3 {
    width: 45%;
    margin: 0px auto;
    color: #131313;
    font-size: 4em;
    font-weight: 700;
    margin-bottom: 35px;
}

.banner p {
    width: 65%;
    margin: 0px auto;
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.banner img{
    width: 100%;
}
.btn-primary {
    border: none;
    border-radius: 8px;
    background: #FF900E;
    color: #ffffff;
    padding: 20px 24px;
    margin-bottom: 50px;
    color: #FFF;
    font-size: 1.3em;
    font-weight: 600;
}