@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Work Sans';
}

/* header style */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 30px 220px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

nav ul {
    display: flex;
    /* justify-content: space-between; */
}

nav li {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    list-style: none;
    margin-right: 40px;

}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */
.banner {
    text-align: center;
}

.banner h3 {
    max-width: 55%;
    margin: 0px auto;
    color: #131313;
    font-size: 4em;
    font-weight: 700;
    margin-bottom: 35px;
}

.banner p {
    max-width: 65%;
    margin: 0px auto;
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.banner img {
    width: 100%;
}

.btn-primary {
    border: none;
    border-radius: 8px;
    background: #FF900E;
    color: #ffffff;
    padding: 20px 24px;
    margin-bottom: 50px;
    color: #FFF;
    font-size: 1.3em;
    font-weight: 600;
}

/* Main Styles */
main {
    max-width: 95%;
    margin: 0px auto;

}

.teams-section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 200px;
    gap: 70px;
    width: 90%;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: 300px 300px;
    grid-template-rows: 300px 300px; */
    gap: 24px;
}

.teams-img-container img {
    width: 100%;
}


.teams-info-container h1 {
    color: #727272;
    font-size: 3rem;
    font-weight: 500;
}

.of-Our,
.Features {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

.Features {
    color: #FF900E;
}

.teams-info-container p {
    color: #727272;
    font-size: 1rem;
    width: 56%;
    margin-bottom: 30px;
}

/* Feature Style */

.feature-section-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    max-width: 85%;
    margin: 120px auto;
    gap: 140px;
}

.feature-info-container {
    max-width: 40%;
}

.feature-info-container h1 {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    width: 85%;
}

.feature-info-container p {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

.box {
    margin: 20px 0px 20px 0px;
    padding: 25px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.box h4 {
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.box p {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0px;
}


.ten-years-badge {
    text-align: center;
    padding: 42px;
    position: relative;
    top: -85px;
    left: -90px;
    border-radius: 8px;
    background: #FF900E;
    max-width: 45%;
}

.ten-years-badge h2 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 700;
    margin: 0px;
}

.ten-years-badge p {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 500;
}

.Experience {
    font-size: 1.8rem;
    font-weight: 500;
}

.feature-container-img img {
    max-width: 100%;
    height: 95%;
}

.facts {
    max-width: 85%;
    margin: 0px auto;
}

.facts h2 {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.facts p {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}


.achivement-container {
    display: flex;
    justify-items: space-around;
    align-items: center;
    gap: 125px;
    width: 85%;
    margin: 100px auto;
    /* transform: rotate(90deg);  */

}

.box-achivement {
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 50px 35px 30px 35px;
    height: 150px;
    width: 150px;
    text-align: center;
}

.box-achivement img {
    width: 30%;
    margin-bottom: 10px;
}

.box-achivement h2 {
    color: #424242;
    font-size: 2rem;
    font-weight: 600;
    margin: 0px 0px 5px 0px;
}

.box-achivement p {
    color: #727272;
    font-size: 1rem;
    font-weight: 600;
    margin: 0px;

}

.sponsor-section {
    width: 85%;
    margin: 100px auto;
    text-align: center;

}

.sponsor-section h2 {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.sponsor-section p {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 50px;
}

.sponsor-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 150px;
    mix-blend-mode: luminosity;
}

.sponsor-icon img {
    mix-blend-mode: luminosity;
}

.footer {
    border-radius: 8px;
    background: #FFF4E7;
    width: 85%;
    height: 80px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: #424242;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}





















@media screen and (max-width: 576px) {

    /* header style */
    header {
        padding: 20px 10px;
    }

    nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }

    .banner h3 {
        max-width: 85%;
        font-size: 2em;
        margin-bottom: 20px;
    }

    .banner p {
        max-width: 90%;
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 15px;
    }

    .teams-section-container {
        flex-direction: column;
        padding: 10px;
        margin-top: 20px;
        gap: 40px;
        width: 90%;
        text-align: center;
    }

    .teams-img-container {
        display: grid;
        gap: 14px;
    }

    .teams-info-container h1,
    .of-Our,
    .Features {
        font-size: 2rem;
        font-weight: 500;
    }

    .teams-info-container p {
        width: 100%;
        margin-bottom: 18px;
    }

    .feature-section-container {
        flex-direction: column-reverse;
        margin: 80px auto;
        gap: 40px;
        max-width: 95%;
    }

    .feature-info-container {
        max-width: 100%;
    }

    .feature-info-container h1 {
        color: #131313;
        font-size: 2.25rem;
        border-left: 0px;
        border-bottom: 5px solid #FF900E;
        padding-left: 0px;
        padding-bottom: 10px;
        width: 100%;
    }

    .box {
        margin: 10px 0px 10px 0px;
        padding: 15px 20px;
        border-radius: 8px;
        background: #FFF;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    }

    .feature-container-img img {
        max-width: 100%;
        height: 80%;
    }

    .ten-years-badge {
        padding: 15px 35px;
        position: relative;
        top: -50px;
        left: 0px;
        max-width: 40%;
        margin: 0px auto;
    }

    .ten-years-badge h2 {
        font-size: 2rem;
    }

    .Experience {
        font-size: 1rem;
        font-weight: 500;
    }

    .achivement-container {
        flex-direction: column;
        gap: 25px;
        width: 95%;
        margin: 10px auto;

    }

    .facts p {
        margin-bottom: 50px;
    }

}

@media screen and (min-width:576px) and (max-width: 992px) {
    header {
        padding: 35px 100px;
    }

    .nav-title {
        font-size: 1.9rem;
        font-weight: 700;
    }

}